@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --primary-bg: #000000;
  --primary-color: #ffffff;
  --primary-grey: #6e6e6e;
  --dark-grey: #242731;
  --primary-btn: #3772ff;
  --header-height: 2rem;
  --sidebar-width: 300px;
  --sidebar-close-width: 70px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  font-style: normal;
}

html,
body {
  min-height: 100vh;
  background: var(--primary-bg);
  color: var(--primary-color);
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: -0.02em;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0px;
}

h3 {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0px;
}

p {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  color: var(--primary-grey);
}

.main-content {
  padding-top: calc(var(--header-height));
  width: calc(100% - var(--sidebar-close-width));
  margin-left: var(--sidebar-close-width);
  transition: margin-left 0.3s ease;
}

.main-content.open {
  width: calc(100% - var(--sidebar-width));
  margin-left: var(--sidebar-width);
}

.section-header {
  padding: 1rem 1rem 0.3rem 3rem;
  border-bottom: var(--dark-grey) solid 3px;
}

.section-content {
  padding: 1rem;
}

.btn-light {
  background: #a3e3ff;
  color: #3772ff;
  border: none;
  border-radius: 10px;
  padding: 6px 12px;
  font-weight: 600;
}

.btn-dark {
  background: #3772ff;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 6px 12px;
  font-weight: 600;
}
