.sidebar {
  padding: 1rem;
  position: fixed;
  top: var(--header-height);
  /* left: calc(var(--sidebar-close-width) - var(--sidebar-width)); */
  width: var(--sidebar-close-width);
  height: 100vh;
  transition: left 0.3s ease;
  border-right: var(--dark-grey) solid 3px;
  padding-bottom: calc(var(--header-height) + 1rem);
}

.sidebar .sidebar-profile > img {
  transform: scaleX(-1);
}

.sidebar.open .sidebar-profile > img {
  transform: scaleX(1);
}

.sidebar-profile.open,
.sidebar-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar-profile.open {
  flex-direction: row;
  gap: none;
}
.sidebar-profile {
  flex-direction: column;
  gap: 1rem;
}
.circle-bg,
.circle-bg-bottom {
  border-radius: 50%;
  background-color: var(--primary-btn);
  height: 26px;
  width: 26px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-bg-bottom {
  font-size: 14px;
  height: 20px;
  width: 20px;
}

.sidebar-bottom.open,
.sidebar-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sidebar-bottom.open {
  flex-direction: row;
  gap: none;
}
.sidebar-bottom {
  flex-direction: column;
  gap: 1rem;
}

.sidebar-profile.open > .profile-cont > h1 {
  display: block;
}
.sidebar-profile > .profile-cont > h1 {
  display: none;
}

.profile-cont {
  padding: 0.875rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.profile-cont > img {
  border-radius: 50%;
  height: 31px;
  width: 31px;
}

.sidebar.open {
  /* left: 0; */
  width: var(--sidebar-width);
}

.nav-cont.open,
.nav-cont {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.nav-cont {
  padding: 0;
}

.nav-cont.open a,
.nav-cont a {
  display: flex;
  align-items: center;
  gap: 0.875rem;
  padding: 0.5rem 1.2rem;
  border-radius: 12px;
  width: 100%;
}
.nav-cont a {
  padding: 0.5rem;
}

.nav-cont a > p {
  display: none;
}
.nav-cont.open a > p {
  display: block;
}

.nav-cont .active {
  background: #353945;
}

.nav-cont .active > p {
  color: #fff;
}

.nav-cont a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 14px;
  line-height: 24px;
}

.nav-cont a > img {
  height: 18px;
  width: 18px;
}

.bottom,
.top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar-bottom > .btn-grey {
  border-radius: 50%;
}

.sidebar .btn-grey,
.sidebar.open .btn-grey {
  background: #353945;
  border: none;
  padding: 6px 12px;
  border-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.sidebar .btn-grey {
  padding: 6px;
}

.btn-grey img {
  height: 20px;
  width: 20px;
}

.sidebar-bottom .theme-circle,
.sidebar-bottom.open .theme-circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--active-theme-indicator);
}

.sidebar-bottom.open > .btn-grey {
  background: #353945;
}
.sidebar-bottom > .btn-grey {
  background-color: var(--active-theme-indicator);
}

.sidebar-bottom.open .theme-circle {
  display: block;
}
.sidebar-bottom .theme-circle {
  display: none;
}
