.pagi-outer-cont {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 1rem;
}

.section-content {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.todo-list-cont,
.todo-list-cont.open {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.todo-list-cont.open {
  width: 75%;
}
.todo-list-cont {
  width: 100%;
}

.todo-edit-container,
.todo-edit-container.open {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo-edit-container.open {
  width: 25%;
  /* display: inline; */
  border-left: var(--dark-grey) solid 3px;
}
.todo-edit-container {
  width: 0%;
  /* display: none; */
  border: none;
}

.todo-cont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
