.pagi-outer-cont {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 1rem;
}

.section-content {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.todo-list-cont,
.todo-list-cont.open {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.todo-list-cont.open {
  width: 75%;
}
.todo-list-cont {
  width: 100%;
}

.todo-edit-container,
.todo-edit-container.open {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo-edit-container.open {
  width: 25%;
  position: static;
  border-left: var(--dark-grey) solid 3px;
}
.todo-edit-container {
  width: 0%;
  position: absolute;
  right: 0;
}

.todo-edit-container.open > div,
.todo-edit-container.open input,
.todo-edit-container.open textarea {
  padding: 1rem !important;
}

.todo-edit-container > div,
.todo-edit-container input,
.todo-edit-container textarea {
  padding: 0 !important;
}

.todo-edit-container.open .edit-header {
  display: block;
}

.todo-edit-container .edit-header {
  display: none;
}

.todo-cont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
